<div class="px-10">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-xs">Lorem ipsum dolor sit amet <span appHighlight>consectetur adipisicing elit.</span> Optio excepturi delectus, distinctio a deserunt,
    mollitia rem saepe sunt necessitatibus placeat vitae voluptatibus molestiae, eum sequi ex modi odio ad eligendi?
  </p>
  <p class="text-xs">Número de clientes <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"/></p>
  <div>
    <app-wave-audio audioUrl="assets/Seagull-Telecasted.mp3" />
  </div>
</div>

